{% extends "layout.html.twig" %}

{% block container %}

<div class="container">

  <h1>Classificació</h1>
    
    <table class="table table-hover">
   		<thead>
   			<tr>
   				<th>Nom producte</th>
   				<th>Opcions</th>
   			</tr>
   		</thead>
   		<tbody>
        {% for producte in productes %}
   			<tr>
   				<td>{{ producte.descripcio_curta }}</td>
   				<td><a href="/classificacio/classificar/{{ producte.id_producte }}">classificar</a></td>
   			</tr>
        {% endfor %}
   		</tbody>
    </table>

</div>

{% endblock %}